* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.header__nav {
  min-height: 65px;
  background: #322E41;
  display: flex;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.header__link {
  padding-right: 14px;
  padding-left: 14px;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.5s;
  padding-top: 23px;
  padding-bottom: 23px;
}

.header__link:hover {
  background: white;
  color: #D47300;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header__block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/nike.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header__title {
  color: white;
  font-family: 'Roboto';
  font-size: 50px;
  margin-bottom: 15px;
}

.header__text-bold {
  font-weight: 700;
}

.header__text {
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
}

/* ===== header tugadi ==== */

.main {
  background: #E5E5E5;
  z-index: -1;
}

.main__content {
  width: 540px;
  min-height: 470px;
  background: white;
  border-radius: 6px;
  padding: 15px;
}

.main__title {
  font-family: 'Roboto';
  font-size: 22px;
  color: #2C2A2A;
  margin-top: 20px;
  margin-bottom: 10px;
}

.main__text {
  font-family: 'Roboto';
  font-weight: 400;
  color: #9B9B9B;
  font-size: 16px;
  line-height: 19px;
}

.main__item {
  width: 255px;
  height: 219px;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.main__info {
  display: flex;
  position: relative;
  top: -30px;
}

.main__block {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.size {
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 6px;
}

.line {
  line-height: 16px;
}

/* ==== main tugadi ==== */
/* ==== footer bosh ==== */

.footer {
  min-height: 260px;
  background: #322E41;
  display: flex;
  align-items: center;
}

.footer__form {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.footer__input {
  height: 34px;
  padding: 8px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.footer__comment {
  height: 86px;
  padding: 8px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
}

.footer__btn {
  height: 25px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #544294;
  color: white;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  width: 90px;
  display: block;
}

.footer__link:hover {
  color: #D57300;
}
